body {
    display: table;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Montserrat", Arial;
}

.container-fluid, #groups-list { padding: 0; }

nav img { width: 75px; }

button.navbar-toggler, nav img, nav form button.btn-dark { margin-right: 1vw; }

.navbar-brand, .nav-item, nav form button { margin-left: 1.5vw }

nav { margin-bottom: 2vw; }





.wrapper { margin: 0 2vw; }

.wrapper, .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group {
    margin: 2vw 0 0 0;
    padding: 2vw;
    border: #ffc107 solid 0.5vw;
    border-radius: 3vw;
}

.group > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group > div > input {
    display: inline-block;
    margin-right: auto;
}

input {
    background-color: transparent;
    border: none;
    width: 50%;
}

a.share-group-link { transition: 0.3s; }
a.share-group-link:hover { transform: scale(1.5); }

.group > div > input, .member { margin-bottom: 1.5vw; }



#create-group {
    position: fixed;
    z-index: 2;
    bottom: 20%;
    margin: 0 auto;
    background-color: #ffc107;
    border-radius: 100%;
    transition: 0.3s;
}
#create-group:hover {
    transform: scale(1.2);
    background-color: black;
}

#create-group > svg { width: 50px; }
#create-group > svg:hover { fill:#ffc107; }

#groups-list, .members-list, .success-form-button, .cancel-form-button, #create-new-member { width: 100%; }





footer {
    
    display: table-row;
    height: 1px;
    width: 100%;
    background-color: black;
    color: white;
}

footer > div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

footer p { margin: 0; }





@media screen and (min-width: 992px) {
    .navbar-brand, .nav-item { transition: 0.3s; }

    .navbar-brand:hover, .nav-item:hover, .navbar-nav > li > .active:hover {
        transform: scale(1.2);
        color: #ffc107;
    }
}

@media screen and (max-width: 767px) {
    .new-member > .row { justify-content: space-between; }
}